<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<h1>Author Page </h1>

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="card card-body" style="width: 18rem;">
                <img class="card-img-top" src="images/femalAuthor.jfif" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Savage Beauty</h4>
                    <p class="card-text">The most famous poet of the jazz age, Millay was an exciting and controversial woman of her time. Nancy Milford's biography was called one of the top ten books of the year when it was originally published. A captivating read</p>
                    <a href="https://www.Facebook.com" class="fa fa-facebook">www.facebook.com/savagebeauty</a>
                    <a href="https://wwww.twitter.com" class="fa fa-twitter">www.twitter.com/savagebeauty</a>
                    <a href="https://https://www.linkedin.com/"
                       class="fa fa-linkedin">https://www.linkedin.com//author1</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="card card-body" style="width: 18rem;">
                <img class="card-img-top" src="images/author2.jfif" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Bill Lawler</h4>
                    <p class="card-text">A biography is a description of a real person’s life, including factual details as well as stories from the person’s life. Biographies usually include information about the subject’s personality and motivations, and other kinds of intimate details excluded in a general overview or profile of a person’s life. The vast majority of biography examples are written about people who are or were famous, such as politicians, actors, athletes, and so on.</p>
                    <a href="https://www.Facebook.com" class="fa fa-facebook">www.facebook.com/author1</a>
                    <a href="https://wwww.twitter.com" class="fa fa-twitter">www.twitter.com/author1</a>
                    <a href="https://https://www.linkedin.com/"
                       class="fa fa-linkedin">https://www.linkedin.com//author1</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>