<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About the Bootcamp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/author">Author</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<h4>Git hub page</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
           <p> Command</p>

            <div>git branch</div>
            <div>git branch -a</div>
            <h6>git branch [branch name]</h6>
            <h6>git branch -d [branch name]</h6>
            <h6>git push origin &#45;&#45;delete [branch name]</h6>
            <h6>git checkout -b [branch name]</h6>
            <h6>git checkout -b [branch name] origin/[branch name]</h6>
            <h6>git branch -m [old branch name] [new branch name]</h6>
            <h6>git checkout [branch name]</h6>
            <h6>git checkout -</h6>
            <h6>git checkout &#45;&#45; [file-name.txt]</h6>
            <h6>git merge [branch name] Merge a branch into the active branch</h6>
            <h6>git merge [source branch] [target branch] Merge a branch into a target branch</h6>
            <h6>git stash Stash changes in a dirty working directory</h6>
            <h6>git stash clear Remove all stashed entries</h6>
        </div>

        <div class="col-md-6">
            <p>Command Description</p>
            <div>the asterisk denotes the current branch)</div>
            <div>local and remote)</div>
            <h6>Create a new branch</h6>
            <h6>Delete a branch</h6>
            <h6>Delete a remote branch</h6>
            <h6>Create a new branch and switch to it</h6>
            <h6>Clone a remote branch and switch to it</h6>
            <h6>Rename a local branch</h6>
            <h6>Switch to a branch</h6>
            <h6>Switch to the branch last checked out</h6>
            <h6>Discard changes to a file</h6>
            <h6>Merge a branch into the active branch</h6>
            <h6>Merge a branch into a target branch</h6>
            <h6>changes in a dirty working directory</h6>
            <h6>Remove all stashed entries</h6>

        </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>